{% extends "teacher_base.html" %}

{% block content %}
    <form action="" method="post" autocomplete="off">
    {% csrf_token %}
        <div class="row" style=align-content:center>
            Teacher ID
            {{form.teacherId}}
        </div>

          <div class="row" style=align-content:center>

            <p style=text-align:center>
                Enter your Message
            </p>

        </div>
     <div class="row">

            {{form.messageContent}}
        </div>
    <button type="submit" class="btn btn-success " style="position: center"><i class="fas fa-save"></i> submit</button>
    </form>


{%  endblock content %}