{%  extends 'base.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h4>My messages</h4>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
					<th>Title</th>


					<th>Update</th>
					<th>Remove</th>
				</tr>

                    {% for  i in messages %}
                    <tr>
              <td> {{ i.messageTitle }}</td>
                     <td>  <a class="btn btn-outline-success" href="{% url 'editTeacherMessage' i.pk %}" role="button">Edit</a></td>


                     <td>  <a class="btn btn-outline-danger" href="{% url 'deleteTeacherMessage' i.pk %}" role="button">Delete</a></td>
                    </tr>
                {% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}