{%  extends 'base.html' %}

{% block content %}

{% include 'teacher_templates/teacher_status.html' %}


<br>
   

<div class="row">
	<div class="col">
	<div class="col-md">
		<h5>My Messages</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-outline-primary  " href="{% url 'create_teacher_message' %}">Add Message</a>
			<table class="table table-sm">
				<tr>
					<th>Title</th>


					<th>Update</th>
					<th>Remove</th>
				</tr>

                    <tr>
                        {% if message_list  %}
              <td> {{ message_list.messageTitle }}</td>
                     <td>  <a class="btn btn-outline-success" href="{% url 'editTeacherMessage' message_list.id %}" role="button">Edit</a></td>


                     <td>  <a class="btn btn-outline-danger" href="{% url 'deleteTeacherMessage' message_list.id %}" role="button">Delete</a></td>
                    </tr>

                    {% endif %}
			</table>
		</div>
	</div>
    </div>
	<div class="col">
	<div class="col-md">
		<h5>Homeworks</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-outline-primary  " href="{% url 'homework_form' %}">create a new homework</a>
			<table class="table table-sm">
				<tr>
					<th>Title</th>


					<th>Update</th>
					<th>Remove</th>
				</tr>
                {% for i in homework_list %}
                    <tr>
              <td> {{ i.homeWorkTitle }}</td>


                         <td>  <a class="btn btn-outline-success" href="{%  url 'homework_update' i.id %}" role="button">Edit</a></td>


                     <td>  <a class="btn btn-outline-danger" href="{% url 'homework_delete' i.id %}" method="post" role="button">Delete</a></td>
                        {% csrf_token %}

                        </button>
                        </form>
                     </td>
                    </tr>
                {% endfor %}

			</table>
		</div>
    </div>
	</div>

</div>
{% include 'footer.html' %}

{% endblock %}
