<br>
<style>
    body{
        background-color: #ecf0f1;
    }
    #users{
        background-color:#4cb4c7;
    }
    #teacher{
        background-color: #7ed6df;
    }
    #students{
        background-color:#80CBC4 ;
    }
</style>

<div class="row">

	<div class="col">
		<div class="col-md">
			<div class="card text-center   mb-3" id="HomeWork">
			  	<div class="card-header">
			  		<h5 class="card-title">Homework</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ homeworkcount}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center   mb-3" id="students" >
			  	<div class="card-header">
			  		<h5 class="card-title">Messages</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ studentcount }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
