{% extends 'base.html' %}
{% load user_tags %}
{% block content %}
    <div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
       {% if request.user|has_group:"teachers" %}
    <a class="btn btn-primary btn-sm" href="{% url "teacher" %}" role="button">Continue to homepage</a>
     {% endif %}
    {% if request.user|has_group:"students" %}
    <a class="btn btn-primary btn-sm" href="{% url "student_dashboard" %}" role="button">Continue to homepage</a>
     {% endif %}
    {% if request.user|has_group:"admin" %}
    <a class="btn btn-primary btn-sm" href="{% url "homepage" %}" role="button">Continue to homepage</a>
     {% endif %}
  </p>
</div>
{% endblock %}