{%  extends 'base.html' %}

{% block content %}





    <div class="col-md">
    <div class="card">
  <div class="card-header">
   <h2>{{ homework.homeWorkTitle}}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ homework.homeWorkContent }}</h5>

      {% if isSolutionExist %}
    <a href="{% url 'create_solution_new' homework.pk %}" class="btn btn-outline-success" >Add solution</a>
    {% else %}

          <a href="{% url 'edit_solution_new' homework.pk solution.pk %}" class="btn btn-outline-warning" >Edit solution</a>

      {% endif %}
  </div>
    </div>
</div>
</div>





{% endblock content %}