{%  extends 'base.html' %}

{% block content %}

	<div class="col-md">

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{{ message_list.messageTitle }}</h4>
  <p>{{ message_list.messageContent}}</p>
  <hr>
  <p class="mb-0">Please read your teacher messages </p>
</div>
</div>

<br>

<div class="row">
	<div class="col-md-6">
		<h5>Studnets</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-outline-primary  " href="">Create Students</a>
			<table class="table table-sm">
				<tr>
					<th>User name</th>


					<th>Update</th>
					<th>Remove</th>
				</tr>
                {% for  i in students %}
                    <tr>
              <td> {{ i.name }}</td>
                     <td>  <a class="btn btn-outline-success" href="#" role="button">Edit</a></td>


                     <td>  <a class="btn btn-outline-danger" href="#" role="button">Delete</a></td>
                    </tr>
                {% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-6">
		<h5>Teachers</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-outline-primary  " href="">Create Teacher</a>
			<table class="table table-sm">
				<tr>
					<th>User name</th>


					<th>Update</th>
					<th>Remove</th>
				</tr>
                {% for i in teachers %}
                    <tr>
              <td> {{ i.name }}</td>
                     <td>  <a class="btn btn-outline-success" href="#" role="button">Edit</a></td>


                     <td>  <a class="btn btn-outline-danger" href="#" role="button">Delete</a></td>
                    </tr>
                {% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}