{%  extends 'base.html' %}



{% block content %}

	<div class="col-md">

<div class="alert alert-success" role="alert">
  <h3 class="alert-heading">{{ message_list.messageTitle }}</h3>
  <p>{{ message_list.messageContent}}</p>
  <hr>
  <p class="mb-0">Please read your teacher messages </p>
</div>
</div>

<br>

<div class="row">
<div class="col">
	<div class="col-md">
		<h5>My lastest HomeWorks</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-outline-primary  " href="{% url "showhomeworkstudent" %}">All homeWorks</a>

			<table class="table table-sm">
				<tr>
					<th>Title</th>


					<th>Add solution</th>
					<th>Edit solution</th>
                    <th>Delete solution</th>
				</tr>
                {% for  i in homework_list %}
                    <tr>
              <td> {{ i.homeWorkTitle }}</td>
                     <td>  <a class="btn btn-outline-success" href="{% url 'createSolution' i.pk %}" role="button">Add</a></td>


                     <td>  <a class="btn btn-warning" href="{% url 'editSolution' i.pk %}" role="button">Edit</a></td>

                    <td>  <a class="btn btn-danger" href="{% url 'deleteSolution' i.pk %}" role="button">Delete</a></td>
                    </tr>
                {% endfor %}

			</table>
		</div>
    </div>
	</div>
<div class="col">

	<div class="col-md">
		<h5>my lastest Study</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-outline-primary  " href="{% url 'showAllStudies' %}">Show all studies</a>
			<table class="table table-sm">
				<tr>
					<th>Title</th>



					<th></th>
				</tr>
                {% for i in studies_list %}
                    <tr>
              <td> {{ i.title }}</td>
                     <td>  <a class="btn btn-outline-success" href="#" role="button">show</a></td>



                    </tr>
                {% endfor %}

			</table>
		</div>
    </div>
	</div>

</div>

{% endblock %}