{% extends 'base.html' %}
{% block content %}
    <style>
    #id_contentLink
 {
    width: 800px;
    height: 300px;
}
        #id_title
 {
    width: 800px;
    height: 60px;
}
        #submit_btn
        {
            margin-top: 20px;
        }

    </style>


  <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">

                <h1 class="display-4">New Study </h1>


                 <form action="" method="post" autocomplete="off">
                    {% csrf_token %}

				     <div class="row" style=align-content:center>
                        <p style=text-align:center>
                        Teacher:
                     </p>


                     </div>

                       <div class="row" style=align-content:center>

                            {{ form.teacher }}
                     </div>
                       <div class="row" style=align-content:center>

                     <p style=text-align:center>
                        title:
                     </p>

                     </div>
                     <div class="row">

                             {{form.title}}
                     </div>
                     <div class="row" style=align-content:center>

                     <p style=text-align:center>
                        study Content :
                     </p>

                     </div>
                     <div class="row">

                             {{form.contentLink}}
                         {{form.media}}
                     </div>


                            <button type="submit" class="btn btn-outline-success " style="position: center" id="submit_btn"><i class="fas fa-save"></i> submit</button>
                     </form>


            </div>

    </div>

{% endblock %}