{% extends "userBase.html" %}
{% block title %} {% endblock %}


{% block content %}
    <form action="" method="post" autocomplete="off">
       {%  csrf_token %}
       {{ form.username }}
       {{ form.email }}
    <div class="row">
        <div class="col-md-4>">
            {{ form.user_type}}
        </div>
        <div class=" col-md-8">
            {{ form.chose_teacher}}
        </div>
    </div>
         {{ form.password1  }}
       {{ form.password2  }}

     <div class="row">
         <div class="col-md-8">
            <button type="submit" class="btn-btn-success btn-block btn-lg"><i class="fa fa-database"></i>Submit</button>
         </div>
         <div class="col-md-4">
             <a href="{% url 'user_list' %}" class="btn btn-secondary btn-block btn-lg"></a>
             <i class="fas fa-stream"></i>Back to list
         </div>
     </div>
    </form>
{% endblock %}