{% extends "userBase.html" %}
{% block title %} {% endblock %}


{% block content %}
    <table class="table table-borderless">
      <thead  class="border-bottom font-weight-bold ">
      <tr>
          <td>username</td>
          <td>email</td>
          <td>
              <a href="{% url 'addUser' %}"
                 class=" btn text-secondary px-0">
                   <i class="far fa-plus"></i>Add New

              </a>
          </td>
      </tr>
      </thead>
    <tbody>
         {% for user in user_list %}
          <tr>
          <td>{{ user.username}} </td>
          <td>{{user.email}} </td>
          <td>
              <a href="{% url 'user_update' user.id %}" class="btn text-secondary px-0">
                  <i class="far fa-edit fa-lg"></i>
              </a>
              <form action="{%  url 'delete_user'  user.id %} " method="post" class="d-inline" >
              {% csrf_token %}
              <button type="submit" class="btn">
                 <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
              </button>
              </form>
          </td>
          </tr>

         {% endfor %}
    </tbody>
    </table>


{% endblock  %}