<br>
<style>
    body{
        background-color: #ecf0f1;
    }
    #users{
        background-color:#dfe6e9;
    }
    #teacher{
        background-color: #7ed6df;
    }
    #students{
        background-color:#80CBC4 ;
    }
</style>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center    mb-3" id="users">
			  	<div class="card-header">
			  		<h5 class="card-title">Admin message : {{ adminMessage.messageTitle }}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ adminMessage.messageContent }}</h3>
			  	</div>
			</div>
		</div>
	</div>


