{% extends "base.html" %}


{% block content %}

    <div class="row">
              <div class="col">
                       <div class="col-md">
                        <form method="get">
                {{ myFilter.form }}

		    <button class="btn btn-outline-primary " type="submit">Search</button>
		  </form>
                       </div>

              </div>
          </div>
    <table class="table table-borderless">
      <thead  class="border-bottom font-weight-bold ">
      <tr>
          <td>username</td>
          <td>
              <a href="{% url 'addTeacher'  %}"
                 class=" btn text-secondary px-0">
                   <button type="button" class="btn btn-success">Add Teacher</button>
              </a>
              <a href="{% url 'addStudent'  %}"
                 class=" btn text-secondary px-0">
                   <button type="button" class="btn btn-success">Add Student</button>

              </a>
              {% if messages %}
        {% endif %}
          </td>

      </tr>
      </thead>
      </thead>
    <tbody>
         {% for user in user_list %}
          <tr>
          <td>{{ user.username}} </td>
          <td>
              <a href="{%  url 'update_user_info'  user.id %}" methods="POST">
                  <button type="button" class="btn btn-secondary">update</button>
              </a>
              <form action="{%  url 'delete_user'  user.id %}" method="post" class="d-inline" >
              {% csrf_token %}
               <input class="btn btn-primary" type="submit" value="delete">
              </form>
               <a  class="btn btn-success" href="{% url 'show_details' user.id %}">Click To show</a>
          </td>
          </tr>

         {% endfor %}
    </tbody>
    </table>
{% endblock  %}